<footer>
	<div class="container small no-link">
		&copy;
		<span><script type="text/javascript">document.write(new Date().getFullYear());</script></span>
		<a href="{{ site.baseurl }}/">
			<span class="chn">李立</span>
			<span class="eng">Lucas Li</span>
		</a> &sdot;

		<a href="http://statcounter.com" target="_blank"><span class="glyphicon glyphicon-stats"></span> {% include stats.html %}</a> &sdot;

		<a href="https://www.paypal.me/lucaslionline" target="_blank">
			<span class="glyphicon glyphicon-heart"></span>
			<span class="chn">捐助</span>
			<span class="eng">Donate</span>
		</a>

		<span class="pull-right noshow">{% include social.html %}&nbsp;</span>
	</div>
</footer>

<script>
feather.replace()
</script>