<header>
	<div class="container">
		<nav>
			<ul>
				<a href="{{ site.baseurl }}/">
					<li>
						<img class="logo" src="{{ site.baseurl }}/assets/img/profile.png">
					</li>
				</a>


				<a class="{% if page.url contains 'blog' %}active{% endif %}" href="{{ site.baseurl }}/blog/">
					<li>
						博客<br>
						<span class="x-small">BLOG</span>
					</li>
				</a>


				<a class="{% if page.url contains 'about' %}active{% endif %}" href="{{ site.baseurl }}/about.html">
					<li>
						關於<br>
						<span class="x-small">ABOUT</span>
					</li>
				</a>


				<a class="{% if page.url contains 'contact' %}active{% endif %}" href="{{ site.baseurl }}/contact.html">
					<li>
						聯絡<br>
						<span class="x-small">CONTACT</span>
					</li>
				</a>

				
				<span class="pull-right laptop">
					<span class="eng"><a href="javascript:;" class="btn btn-sm btn-round no-margin" onclick="chn()">中文</a></span>
					<span class="chn"><a href="javascript:;" class="btn btn-sm btn-round no-margin" onclick="eng()">ENG</a></span>
				</span>

				<span class="pull-right mobile language small">
					<span class="eng"><a href="javascript:;" onclick="chn()">中文</a></span>
					<span class="chn"><a href="javascript:;" onclick="eng()">ENG</a></span>
				</span>
			</ul>
		</nav>
	</div>
</header>