<hr>
<ul class="icons">
	<li class="active">
		<a href="#finder" data-toggle="tab" aria-expanded="false">
			<img class="" src="{{ site.baseurl }}/assets/img/icon-finder.png"><br>
			<span class="chn">訪達</span>
			<span class="eng">Finder</span>
		</a>
	</li>

	<li>
		<a href="#enquiry" data-toggle="tab" aria-expanded="false">
			<img class="" src="{{ site.baseurl }}/assets/img/icon-docs.png"><br>
			<span class="chn">文檔</span>
			<span class="eng">Documents</span>
		</a>
	</li>
	<li>
		<a href="#music" data-toggle="tab" aria-expanded="false">
			<img class="" src="{{ site.baseurl }}/assets/img/icon-music.png"><br>
			<span class="chn">音樂</span>
			<span class="eng">Music</span>
		</a>
	</li>
	<li>
		<a href="#enquiry" data-toggle="tab" aria-expanded="false">
			<img class="" src="{{ site.baseurl }}/assets/img/icon-movie.png"><br>
			<span class="chn">電影</span>
			<span class="eng">Movies</span>
		</a>
	</li>
	<li>
		<a href="#enquiry" data-toggle="tab" aria-expanded="false">
			<img class="" src="{{ site.baseurl }}/assets/img/icon-picture.png"><br>
			<span class="chn">圖片</span>
			<span class="eng">Pictures</span>
		</a>
	</li>
	<li>
		<a href="#sites" data-toggle="tab" aria-expanded="false">
			<img class="" src="{{ site.baseurl }}/assets/img/icon-site.png"><br>
			<span class="chn">站點</span>
			<span class="eng">Sites</span>
		</a>
	</li>
</ul>


<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade active in" id="finder">
		{% include finder.html %}
	</div>

	<div class="tab-pane fade" id="music">
		{% include music.html %}
	</div>

	<div class="tab-pane fade" id="sites">
		{% include sites.html %}
	</div>
</div>

