<hr>
<p>
	<span class="glyphicon glyphicon-th"></span> &raquo;
	Helpful URLs
</p>


<div class="row">
	<div class="col-sm-3">
		<strong>Web Design</strong><br>
		<a href="https://glyphicons.bootstrapcheatsheets.com" target="_blank">Glyphicons</a><br>
		<a href="https://feathericons.com" target="_blank">Feather Icons</a><br>
		<a href="https://www.easyicon.net" target="_blank">Easyicon</a><br>
		<a href="http://www.iconfont.cn" target="_blank">Iconfont</a><br>
		<a href="https://getsimpleform.com" target="_blank">Simple Form</a><br>
		<a href="https://likebtn.com/en/" target="_blank">LikeBtn</a><br>
		<a href="https://www.toptal.com/designers/htmlarrows/symbols/" target="_blank">HTML Symbols</a><br>
		<a href="http://www.colors.commutercreative.com/grid/" target="_blank">CSS Color Name</a><br>
		<a href="https://videos.pexels.com" target="_blank">Pexels Videos</a><br>
		<a href="http://echarts.baidu.com" target="_blank">ECharts</a>
	</div>

	<div class="col-sm-3">
		<strong>Coding & Programming</strong><br>
	</div>

	<div class="col-sm-3">
		<strong>Building Science</strong><br>
	</div>

	<div class="col-sm-3">
		<strong>Christianity</strong><br>
		<a href="https://www.covenantepc.org" target="_blank">Covenant Church</a>
	</div>
</div>
