<hr>
<p>
	<span class="glyphicon glyphicon-th"></span> &raquo;
	<span class="chn">用戶</span>
	<span class="eng">User</span>
</p>


<div class="row">
	<div class="col-sm-3">
		<strong>
			<span class="chn">網頁設計</span>
			<span class="eng">Web Design</span>
		</strong><br>
	</div>

	<div class="col-sm-3">
		<strong>
			<span class="chn">代碼編程</span>
			<span class="eng">Coding & Programming</span>
		</strong><br>
	</div>

	<div class="col-sm-3">
		<strong>
			<span class="chn">建築科技</span>
			<span class="eng">Building Science</span>
		</strong><br>
	</div>

	<div class="col-sm-3">
		<strong>
			<span class="chn">基督信仰</span>
			<span class="eng">Christianity</span>
		</strong><br>
		<a href="https://www.covenantepc.org" target="_blank">Covenant Church</a>
	</div>
</div>