---
layout: default
title: "動態"
---

<p class="page-title">
	<span class="btn btn-sm btn-round btn-highlight disabled">
		<span class="glyphicon glyphicon-refresh"></span> &nbsp;
		<span class="chn">動態</span>
		<span class="eng">MOMENTS</span>
	</span>
</p>


<table class="grid">
	{% for item in site.data.moments.timeline2018 %}
	{% assign mod = forloop.index | modulo: 2 %}
	{% if mod == 0 %}
	<tr>
		<td style="background: white; padding: 2em;">
			<center>
				<p class="slim">{{ item.src }} <span class="glyphicon glyphicon-hand-right"></span></p>
				<p>
					<span class="eng">{{ item.eng }}</span>
					<span class="chn">{{ item.chn }}</span>
				</p>
			</center>
		</td>
		<td style="background: url(/assets/img/moments/2018/{{ item.src }}.jpg) center center; background-size: cover;"></td>
	</tr>
	

	{% else %}
	<tr>
		<td style="background: url(/assets/img/moments/2018/{{ item.src }}.jpg) center center; background-size: cover;"></td>
		<td style="background: white; padding: 2em;">
			<center>
				<p class="slim"><span class="glyphicon glyphicon-hand-left"></span> {{ item.src }}</p>
				<p>
					<span class="eng">{{ item.eng }}</span>
					<span class="chn">{{ item.chn }}</span>
				</p>
			</center>
		</td>
	</tr>
	{% endif %}
	{% endfor %}
</table>



<p class="page-nav">
	<a class="btn btn-round btn-sm" href="/moments/2017.html">
		<span class="eng">PREV</span>
		<span class="chn">上一年</span>
	</a>

	<span class="btn btn-round btn-sm pull-right disabled">
		<span class="eng">NEXT</span>
		<span class="chn">下一年</span>
	</span>
</p>