/*--------------------------------------------------------------
1.0 Normalize
--------------------------------------------------------------*/
body {
	background: #eee;
}

a {
	color: DarkSlateGray;
}
a:hover {
	color: gray;
}

ul {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}


/*--------------------------------------------------------------
2.0 Languages
--------------------------------------------------------------*/
.eng {
	display: none;
}


/*--------------------------------------------------------------
3.0 Alignments
--------------------------------------------------------------*/
.center {
	text-align: center;
}


/*--------------------------------------------------------------
4.0 Clearings
--------------------------------------------------------------*/
.clearance {
	margin-top: 94px;
	margin-bottom: 50px;
}


/*--------------------------------------------------------------
5.0 Fonts
--------------------------------------------------------------*/
.x-small {
	font-size: 70%
}

.slim {
	font-weight: 200;
}


/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/


/*--------------------------------------------------------------
7.0 Formatting
--------------------------------------------------------------*/
.gray {
	color: gray;
}


/*--------------------------------------------------------------
8.0 Lists
--------------------------------------------------------------*/
ul.list li {
	margin-bottom: 1rem;
}

.list-title {
	margin-bottom: 2rem;
}


/*--------------------------------------------------------------
9.0 Tables
--------------------------------------------------------------*/
table.grid {
	width: 100%;
	text-transform: uppercase;
}
table.grid tr {
	height: 350px;
}
table.grid tr td {
	width: 50%;
}


/*--------------------------------------------------------------
10.0 Links
--------------------------------------------------------------*/
.btn-round {
	border-radius: 1em;
	border: 1px solid DarkSlateGray;
	line-height: 2em;
	padding: 0 2em;
}
.btn-round:hover {
	background: DarkSlateGray;
	color: white;
	box-shadow: 0 2px 5px 0 gray;
}
.btn-highlight {
	background: DarkSlateGray;
	color: white;
}


/*--------------------------------------------------------------
12.0 Navigation
--------------------------------------------------------------*/
nav ul li {
	display: inline-block;
	text-align: center;
	line-height: 1;
}
nav a {
	margin-right: 1.5em;
}
nav a:hover {
	text-decoration: none;
}

.active {
	color: gray;
}


/*--------------------------------------------------------------
13.0 Layout
   13.1 Header
--------------------------------------------------------------*/
header {
	border-top: 7px solid DarkSlateGray;
	border-bottom: 1px solid #eee;
	padding: 2em 0;
	position: fixed;
	top: 0;
	width: 100%;
	background: white;
	height: 94px;
	z-index: 100;
}

.language {
	margin-top: 0.5em;
}
.language a {
	margin: 0;
}


/*--------------------------------------------------------------  
   13.2 Front Page
--------------------------------------------------------------*/
.front-page {
	background: white;
	width: 100%;
	padding: 5rem 0;
	border-top: 7px solid DarkSlateGray;
	border-bottom: 1px solid #eee;
	box-shadow: 0 2px 20px 0 gray;
	text-transform: uppercase;
	height: 400px;
	margin-top: -200px;
	position: absolute;
	top: 50%;
}


/*--------------------------------------------------------------
   13.3 Regular Content
--------------------------------------------------------------*/
section {
	margin: 5rem 0;
	padding: 2em;
	border-radius: 1em;
	border: 1px solid #ccc;
	background: white;
}


/*--------------------------------------------------------------
   13.4 Posts
--------------------------------------------------------------*/
.post-title a:hover {
	text-decoration: none;
}

.post-img {
	margin: 0 -2em;
}
.post-img img {
	width: 100%;
}

blockquote {
	font-weight: 200;
	color: gray;
}

.footnotes {
	margin-top: 4rem;
}
.footnotes:before {
	content: "References";
	font-weight: bold;
	text-transform: uppercase;
}
.footnotes ol {
	font-weight: 300;
	margin-top: 1em;
}
.footnotes p {
	margin: 0;
}


/*--------------------------------------------------------------
   13.5 Pages
--------------------------------------------------------------*/
.page-title {
	margin: 7rem 0;
}
.page-nav {
	margin: 7rem 0;
}



/*--------------------------------------------------------------
   13.6 Footer
--------------------------------------------------------------*/
footer {
	border-top: 1px solid #eee;
	border-bottom: 4px solid DarkSlateGray;
	padding: 1em 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: white;
	height: 50px;
	z-index: 100;
}

/*--------------------------------------------------------------
14.0 Comments
--------------------------------------------------------------*/



/*--------------------------------------------------------------
16.0 Images
--------------------------------------------------------------*/
.logo {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	vertical-align: bottom;
}
.logo:hover{
	box-shadow: 0 0 10px DarkSlateGray;
}

.org-logo {
	margin-top: 5rem;
}
.org-logo img {
	width: 60px;
	margin: 0 0.5em;
}
.org-logo a:hover {
	opacity: 0.5;
}


/*--------------------------------------------------------------
15.0 Widgets
--------------------------------------------------------------*/
.carousel {
	height: 300px;
}
.carousel-caption {
	z-index: 10;
}
.carousel .item {
	height: 300px;
	background-color: #ddd;
}


/*--------------------------------------------------------------
18.0 SVGs Fallbacks
--------------------------------------------------------------*/
svg {
	width: 1em;
	height: 1em;
}
path {
	fill: #333333;
}
a path {
	fill: DarkSlateGray;
}
a:hover path {
	fill: gray;
}


/*--------------------------------------------------------------
17.0 Customizer
--------------------------------------------------------------*/
