<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="standing" style="width:100%; height:500px;"></div>

<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('standing'));

        // 指定图表的配置项和数据
        var option = {
        	tooltip : {
        		trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    legend: {
    	data:['Architecture', 'Market Appeal','Engineering','Communications','Innovation', 'Comfort Zone', 'Appliances', 'Home Life', 'Commuting', 'Energy']
    },
    toolbox: {
    	show: true,
        bottom: 0,
    	feature: {
    		mark: {show: true},
    		dataView: {show: true, readOnly: false},
    		magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
    		restore: {show: true},
    		saveAsImage: {show: true}
    	}
    },
    calculable : true,
    xAxis: [
    {
    	type: 'value',
        name: 'Points'
    }
    ],
    yAxis: [
    {
    	type: 'category',
        name: 'Team',
    	data: ['SHUNYA','B&R','SUES-XD','PKU*','CNBM-WIN','XJTU-WNEU-POLIMI','SOLAR OFFSPRING', 'YI', 'SIE', 'XAUAT', 'SJTUIUC', 'MONTREAL', 'TJU-TUDA', 'BJTU', 'TUBSEU', 'JIA+', 'THU', 'SCUT-POLITO']
    }
    ],
    series: [
    {
    	name:'Architecture',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[67.00, 74.00, 65.00, 83.00, 85.00, 76.00, 76.00, 74.00, 78.00, 81.00, 88.00, 97.00, 92.00, 89.00, 95.00, 87.00, 93.00, 96.00]
    },
    {
    	name:'Market Appeal',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[74.00, 83.70, 61.70, 79.30, 87.40, 70.60, 72.60, 68.50, 79.00, 74.70, 85.50, 97.80, 87.30, 79.30, 85.60, 90.30, 95.10, 97.70]
    },
    {
    	name:'Engineering',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[78.00, 76.00, 75.00, 75.00, 84.00, 83.00, 81.00, 80.00, 86.00, 82.00, 85.30, 94.00, 85.30, 87.00, 92.30, 93.00, 95.00, 96.00]
    },
    {
    	name:'Communications',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[84.30, 64.90, 37.40, 52.80, 92.10, 87.20, 75.80, 74.30, 70.40, 73.50, 82.60, 97.00, 92.60, 88.30, 90.40, 94.00, 96.90, 92.60]
    },
    {
    	name:'Innovation',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[45.00, 70.00, 45.00, 55.00, 65.00, 50.00, 58.00, 65.00, 62.00, 60.00, 75.00, 87.00, 79.00, 82.00, 85.00, 82.00, 90.00, 95.00]
    },
    {
    	name:'Comfort Zone',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[41.16, 55.62, 88.16, 57.59, 76.62, 53.04, 85.16, 80.39, 73.54, 80.75, 84.29, 43.19, 87.91, 78.88, 88.77, 85.75, 93.93, 94.08]
    },
    {
    	name:'Appliances',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[63.52, 67.93, 89.54, 91.14, 91.94, 97.81, 87.31, 93.04, 85.75, 99.27, 88.58, 82.67, 81.68, 99.05, 97.26, 96.66, 99.70, 98.68]
    },
    {
    	name:'Home Life',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[62.52, 73.39, 98.50, 91.26, 88.73, 84.44, 88.02, 98.88, 96.21, 98.58, 82.62, 79.60, 89.17, 97.90, 99.22, 99.40, 97.68, 99.23]
    },
    {
    	name:'Commuting',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[100.00, 99.38, 100.00, 100.00, 100.00, 100.00, 100.00, 100.00, 100.00, 100.00, 100.00, 100.00, 87.50, 100.00, 100.00, 100.00, 100.00, 100.00]
    },
    {
    	name:'Energy',
    	type:'bar',
    	stack: 'Total',
    	itemStyle : { normal: {label : {show: true, position: 'insideRight'}}},
    	data:[13.10, 9.29, 91.90, 90.20, 6.44, 90.45, 87.24, 90.44, 93.28, 90.45, 91.88, 85.56, 90.94, 100.00, 87.25, 90.77, 91.09, 91.95]
    }
    ]
};


// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);
</script>